section.about-me
  h2.title-h2.about-me__title-h2 Обо мне
  div.code
    p.code__str
      span.code__str_digit 1&nbsp;&nbsp;
      span.code__str_purple const&nbsp;
      span.code__str_white aboutMe&nbsp;
      span.code__str_blue =&nbsp;
      span.code__str_grey {
    p.code__str
      span.code__str_digit 2&nbsp;&nbsp;&nbsp;&nbsp;
      span.code__str_red age
      span.code__str_blue :&nbsp;
      span.code__str_orange 31
      span.code__str_grey ,
    p.code__str
      span.code__str_digit 3&nbsp;&nbsp;&nbsp;&nbsp;
      span.code__str_red location
      span.code__str_blue :&nbsp;
      span.code__str_green 'Тбилиси'
      span.code__str_grey ,
    p.code__str
      span.code__str_digit 4&nbsp;&nbsp;&nbsp;&nbsp;
      span.code__str_red status
      span.code__str_blue :&nbsp;
      span.code__str_green 'Ищу работу'
      span.code__str_grey ,
    p.code__str
      span.code__str_digit 5&nbsp;&nbsp;&nbsp;&nbsp;
      span.code__str_red education
      span.code__str_blue :&nbsp;
      span.code__str_green 'ТГИК, бизнсес-информатика'
      span.code__str_grey ,
    p.code__str
      span.code__str_digit 6&nbsp;&nbsp;&nbsp;&nbsp;
      span.code__str_red languages
      span.code__str_blue :&nbsp;
      span.code__str_grey [
      span.code__str_green 'русский'
      span.code__str_grey ,&nbsp;
      span.code__str_green 'английский'
      span.code__str_grey ]
    p.code__str
      span.code__str_digit 7&nbsp;&nbsp;
      span.code__str_grey }