section.experience 
  h2.title-h2.experience__title-h2 Опыт работы
  div.experience__timeline
    div.timeline-item
      p.timeline-item__year 2015–2024
      h2.timeline-item__title Продуктовый<br>дизайнер
      p.timeline-item__description За&nbsp;время своей карьеры я&nbsp;успел поработать в&nbsp;3&nbsp;местах: небольшой студии mintrocket, не&nbsp;нуждающимся в&nbsp;представлении &laquo;Яндексе&raquo; и&nbsp;продуктовой компании &laquo;Бобдей&raquo;. Помимо непосредственной работы мне всегда было интересно расти как специалист, поэтому я&nbsp;проходил обучение. Из&nbsp;самого значимого для меня могу отметить Школу дизайнеров бюро Горбунова и&nbsp;менторскую программу в&nbsp;Duo Sapiens.
    div.timeline-item.timeline-item_void
    div.timeline-item.timeline-item_void
      p.timeline-item__description.timeline-item__description_void P. S. Это долгие 10 лет в дизайне
    div.timeline-item.timeline-item_void
    div.timeline-item
      p.timeline-item__year(data-js-year) 2025–20**
      h2.timeline-item__title Первая работа<br>разработчиком
      p.timeline-item__description Я&nbsp;знаю, что лучший способ набраться опыта&nbsp;&mdash; это как можно скорее найти свою первую работу. Я&nbsp;ещё много не&nbsp;умею, но&nbsp;быстро учусь. Впереди меня ждёт интересный путь в&nbsp;новом ремесле. Если вы&nbsp;ищете джуна, чтобы вырастить из&nbsp;него офигенного специалиста, давайте пройдём этот путь вместе. Буду рад пообщаться в&nbsp;Телеграме.