header.header(data-js-header)
  p.logo
    span.logo__title Иван Коробицин
    span.logo__slash /
    span.logo__desc Будущий фулстек-разработчик
  a.header__link(href = "http://t.me/siberian_vanya" target = "_blank") Телеграм