section.hero(data-js-hero)
  h1.hero__title(data-js-hero-title)
    p.hero__title-text Привет
    span.hero__title-text Я
    span.hero__title-video-wrapper
      video.hero__title-video(autoplay loop muted playsinline)
        source(src="me.mp4" type="video/mp4")
    span.hero__title-text Ваня
  p.hero__desc Джун маминой подруги. В&nbsp;течение последних 10&nbsp;лет я&nbsp;занимался продуктовым дизайном, поэтому не&nbsp;понаслышке знаю, что такое ИТ-сфера, работа над продуктом и&nbsp;взаимодействие с&nbsp;командой. Моя текущая история&nbsp;&mdash; это переход из&nbsp;дизайна в&nbsp;разработку. Я&nbsp;ещё только учусь, но&nbsp;хочу иметь больше практики, поэтому ищу свою первую работу в&nbsp;новой сфере. На&nbsp;этой странице я&nbsp;постарался максимально полно отразить свой бэкграунд.