section.projects
  h2.title-h2.projects__title-h2 Проекты
  ul.projetcs__list 
    li.project.project_blue
      div.project__text
        h3.project__title Sibvan
        p.project__desc Мой первый проект&nbsp;&mdash; это мой сайт. Тот, на&nbsp;котором вы&nbsp;сейчас находитесь. Сначала я&nbsp;его задизайнил, а&nbsp;потом сверстал: сбросил стили, подключил шрифт, использовал БЭМ&nbsp;&mdash; всё как надо. Это не&nbsp;первая версия. Большой опыт в&nbsp;дизайне позволяет мне легко отказываться от&nbsp;уже реализованных идей в&nbsp;пользу более удачных. В&nbsp;общем я&nbsp;не&nbsp;расстраиваюсь, если работа уходит в&nbsp;стол&nbsp;&mdash; это часть процесса.
      div.project__links
        a.project__link(href="http://sibvan.dev" data-js-sibvan)
          span(data-js-sibvan-text) sibvan.dev
          span.project__arrow &nbsp;→
        a.project__link(href="") Код на GitHub
          span.project__arrow &nbsp;→
    li.project.project_orange
      div.project__text
        h3.project__title Korona-pay
        p.project__desc Мини-калькулятор для расчёта комиссии при переводе денег из&nbsp;России в&nbsp;Грузию с&nbsp;помощью сервиса &laquo;Золотая Корона&raquo;. Сделал его для себя, т.&nbsp;к. расчитывать комиссию вручную каждый раз утомительно. Считает в&nbsp;обе стороны: можно узнать сколько потребуется рублей для получения определённого количества лари и&nbsp;сколько получится лари исходя из&nbsp;имеющейся суммы рублей.
      div.project__links
        a.project__link(href="https://korona-pay.ru" target="_blank") korona-pay.ru
          span.project__arrow &nbsp;→
        a.project__link(href="https://github.com/sibvan/korona-pay.ru" target="_blank") Код на GitHub
          span.project__arrow &nbsp;→