
section.skills
  h2.title-h2.skills__title-h2 Навыки
  ul.skills__list
    each status, title in {"Работаю в VS Code и CodePen": "Готово", "Коммуникабельный, понимаю свою роль в команде разработки": "Готово", "Владею React.js и Vue.js": "Изучаю", "Умею писать тесты на Jest и Vitest": "Изучаю", "Работаю в системе контроля версий Git": "Готово", "Знаю особенности Node.js": "Изучаю", "Использую препроцессор Sass": "Изучаю", "Создаю высоконагруженный бэкенд": "Изучаю", "Верстаю по Pixel Perfect": "Готово", "Программирую на TypeScript": "Изучаю", "Программирую на JavaScript, использую REST API": "Готово", "Владею навыками адаптивной вёрстки на HTML и CSS": "Готово", "Работаю со сборщиками Webpack, Vite": "Готово", "Владею инструментами оптимизации изображений и кода": "Готово", "Работаю с внешними API": "Готово", "Придерживаюсь компонентного подхода": "Готово", "Умею использовать npm для работы с зависимостями": "Готово", "Работаю с базами данных": "Изучаю", "Работаю в графическом редакторе Figma": "Готово"}
      if status === "Готово"
        li.skill.skill_green
          h3.skill__title= title
          p.skill__status.skill__status_green= status
      else if status === "Изучаю"
        li.skill.skill_blue
          h3.skill__title= title
          p.skill__status.skill__status_blue= status