section.tools
  h2.title-h2.tools__title-h2 Инструменты
  div.tools__lists
    div.tools-list
      ul.toolst-list__ul
        li.tools-list__li.tools-list__li_left Уже изучил&nbsp;
      ul.toolst-list__ul
        li.tools-list__li.tools-list__li_javascript JavaScript
        li.tools-list__li.tools-list__li_html HTML
        li.tools-list__li.tools-list__li_css CSS
        li.tools-list__li
          span.tools-list__li_figma-1 F
          span.tools-list__li_figma-2 i
          span.tools-list__li_figma-3 g
          span.tools-list__li_figma-4 m
          span.tools-list__li_figma-5 a
        li.tools-list__li.tools-list__li_chrome-devtools Chrome DevTools
        li.tools-list__li
          span.tools-list__li_gitlab-1 Git
          span.tools-list__li_gitlab-2 Lab
        li.tools-list__li.tools-list__li_vite Vite
        li.tools-list__li.tools-list__li_emmet Emmet
        li.tools-list__li.tools-list__li_github GitHub
        li.tools-list__li
          span.tools-list__li_lighthouse-1 Light
          span.tools-list__li_lighthouse-2 house
        li.tools-list__li.tools-list__li_pixel-perfect Pixel Perfect
        li.tools-list__li.tools-list__li_vs-code VS Code
        li.tools-list__li.tools-list__li_rest-api REST API
        li.tools-list__li.tools-list__li_vue Vue 3.0
        li.tools-list__li.tools-list__li_pinia Pinia
    div.tools-list
      ul.toolst-list__ul
        li.tools-list__li.tools-list__li_left Сейчас учу&nbsp;
      ul.toolst-list__ul.toolst-list__ul_grey
        li.tools-list__li React
        li.tools-list__li Python
        li.tools-list__li Node.js
        li.tools-list__li Webpack
        li.tools-list__li TypeScript
        li.tools-list__li MySQL
        li.tools-list__li Sass
        li.tools-list__li SQL
        li.tools-list__li MongoDB
        li.tools-list__li Redis
        li.tools-list__li Vitest
        li.tools-list__li Jest
        li.tools-list__li Element Plus
        li.tools-list__li Eslint
